
.accordion-button:focus {
    box-shadow: none !important;
}
.accordion-button, .accordion-item {
    border: none;
}
[data-bs-theme='light'] .accordion-button:not(.collapsed) {
    color: #fff !important;
    background-color: #365949 !important;
}
[data-bs-theme='light'] .accordion-button:not(.collapsed)::after {
    color: #fff !important;
}
[data-bs-theme='light'] .accordion-button {
    background-color: #eaeaea !important;
    border-color: transparent;
}

[data-bs-theme='light'] .accordion-collapse,
.accordion-item {
    background-color: #f5f5f5 !important;
}

[data-bs-theme='dark'] .accordion-button:not(.collapsed) {
    color: #fff !important;
    background-color: #365949 !important;
}

[data-bs-theme='dark'] .accordion-button {
    background-color: #354f43 !important;
    border-color: transparent;
}

[data-bs-theme='dark'] .accordion-item {
    color: #000;
    background-color: #6d9b81 !important;
    border-color: transparent
}

[data-bs-theme='light'] .FAQs {
    color: #365949  !important;
}

[data-bs-theme='dark'] .FAQs {
    color: #dcb968 !important;
    
}
/* #eaeaea */