header {
    position: relative;
    height: 100%;
    width: 100%;
}
.overlay{
    position: absolute;
    display: block;
    background-color: #1B4036;
    opacity: 0.5;
    z-index: 1;
}
video {
    display: block;  /* This removes the space in the bottom of the video */
    position: absolute;
    min-width: 100%;
    z-index: 0;
}
.content {
    position: absolute;
    top: 0 !important;
    z-index: 2;
}