.cookie-btn-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1rem;
    padding: 1rem;
    margin: 0 auto;
}

@media screen and (min-width: 575px) {
    .cookie-btn {
        width: 400px !important;
    }
}
