.login {
  background-color: #0A2A28;
}
h1, h2, .co {
  color: #DCB968;
}
.error {
  color: #C11946;
  font-weight: bold;
  margin-top: -1.5rem;
  text-align: left;
  margin-bottom: 1rem;
}
.btn:disabled, .btn, .btn:hover {
  background-color: #DCB968;
  color: white;
}
/* .input-group {
  border: 1px solid red;
  border-radius: 5px;
} */

.input-group-text  {
  background-color: white;
}
.icon {
  color: #0A2A28;
}
.form-control:focus {
  outline: none; /* Removes the blue border */
}
.form-check-label {
  color: white;
}
a {
  text-decoration: none;
  color: #FFFFFF;
}
