.errorpage-container {
  height: 100vh;
  width: 100vw;
}

.error-wrapper {
  height: auto;
}

.error-wrapper h1 {
  font-size: 12vw;
  font-weight: 800;
}

.error-wrapper p {
  font-size: 2vw;
}

.error-button {
  font-size: 2vw;
}

.icons-container {
  gap: 1rem;
}

