.errorpage-container {
	height: 100vh;
}

.error-code {
	font-size: 10vw;
}

.error-page-message {
	font-size: 2vw;
}

.error-button {
	font-size: 1.5vw;
}

.icons-container {
	height: 5vw;
	width: 15vw;
}

@media screen and (max-width: 576px) {
	.error-code {
		font-size: 20vw;
	}

	.error-page-message {
		font-size: 5vw;
	}

	.error-button {
		font-size: 3vw;
	}

	.icons-container {
		height: 16vw;
		width: 32vw;
	}
}
