/* UPDATE */
.carousel-image {
    object-fit: cover;
    /* For navbar nhe :>*/
    height: calc(100vh - 80px);
}

.custom-caption {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    bottom: 0;
    transition: 0.3s ease-in-out;
}

.custom-caption:hover {
    background-color: rgba(0, 0, 0, 0.4);
}

.caption-line {
    width: 50px;
    height: 4px;
    background-color: #365949;
    margin-bottom: 10px;
}

.custom-caption h5 {
    margin: 0 0 10px 0;
    font-size: 24px;
    color: #fff;
    text-align: start;
}

.custom-caption p {
    margin: 0;
    font-size: 16px;
    color: #fff;
}

.carousel-control-prev,
.carousel-control-next {
    align-items: center;
}

@media (max-width: 768px) {

    /* Mobile */
    .custom-caption {
        left: 10%;
        right: 10%;
    }
}

@media (min-width: 769px) and (max-width: 992px) {

    /* Tablet */
    .custom-caption {
        left: 20%;
        right: 20%;
    }
}

@media (min-width: 993px) {

    /* Laptop and above */
    .custom-caption {
        left: 20%;
        right: 20%;
    }
}

/* NEWS */
.news {
    padding: 20px;
    padding-inline: 10%;
}

.selection {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.popularNews {
    padding-top: 50px;
    color: #365949;
    font-weight: bold;
}

.navigation-item {
    padding: 7px;
    padding-inline: 15px;
    margin: 0;
    background-color: #fff;
    transition: 0.3s ease-in-out;
    border-radius: 5px;
    text-align: center;
    border: 2px solid #365949;
}

.navigation-item:hover {
    background-color: #365949;
    color: #DCB968;
    cursor: pointer;
}

.navigation-item.active {
    background-color: #365949;
    color: #DCB968;
    cursor: pointer;
}

.navigation-item-dark-mode:hover {
    background-color:#DCB968;
    color: #000;
    cursor: pointer;
}

.navigation-item-dark-mode.active {
    background-color:#DCB968;
    color: #000;
    cursor: pointer;
}

.navigation-item-dark-mode {
    padding: 7px;
    padding-inline: 15px;
    margin: 0;
    background-color: #fff;
    transition: 0.3s ease-in-out;
    border-radius: 5px;
    text-align: center;
    border: 2px solid #fff;
}

.navigation-item h4  {
    margin-bottom: 0;
}

.navigation-item-dark-mode h4 {
    margin-bottom: 0;
}

.newsContainer {
    margin-top: 20px;
}

.loadingContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.slider {
    text-align: center;

}

.news-card {
    border: none;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 15px;
    transition: transform 0.3s;
}

.news-card:hover {
    transform: translateY(-5px);
    cursor: pointer;
}

.card-img-top {
    width: 100%;
    object-fit: cover;
}

.loading-card-img-top {
    width: 200px;
}

.loading-news-card {
    border: none;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 15px;
    width: 200px;
}

.cards-body {
    padding: 15px;
    height: 280px;
}

.cards-body h6 {
    font-size: 0.9rem;
    color: #666;
    margin-bottom: 5px;
    text-align: start;
}

.cards-body h5 {
    font-size: 1.2rem;
    color: #000;
    margin-bottom: 10px;
    text-align: start;
}

.cards-body h4 {
    font-size: 1.2rem;
    color: #333;
    margin-bottom: 10px;
    text-align: start;
}

.cards-body p {
    font-size: 0.9rem;
    color: #666;
    line-height: 1.6;
    text-align: start;
    margin-bottom: 0;
}

.user-info {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.circle-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}

.user-info span {
    font-size: 0.9rem;
    color: #333;
}


.dropdown-menu .dropdown-item:active {
    background-color: #365949;
}

.dropdown-item-dark-mode {
    color: #DCB968;
    background-color: #0A2A28;
}

.dropdown-item-light {
    background-color: #fff;
    color: #000;
}

.news-spinner {
    margin-top: 20px;
}

.news-spinner-dark {
    color: #DCB968;
}

.news-spinner-light {
    color: #0A2A28;
}

@media (max-width: 768px) {

    /* Mobile */
    .news-card {
        margin-bottom: 40px;
    }
}

@media (min-width: 769px) and (max-width: 992px) {

    /* Tablet */
    .selection {
        gap: 1%;
        margin-top: 20px;
    }
}

@media (min-width: 993px) {

    /* Laptop and above */
    .selection {
        gap: 3%;
        margin-top: 20px;
    }
}


/* EVENTS */
.card {
    border: none;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    margin: 20px;
}

.card:hover {
    transform: translateY(-5px);
    cursor: pointer;
}

.events_selection {
    display: flex;
    justify-content: center;
}

.events-cards-body {
    padding: 15px;
    height: auto;
}

.card-text {
    font-size: 0.9rem;
    color: #666;
    line-height: 1.6;
    text-align: start;
    margin-bottom: 0;
}

.card-title {
    font-size: 1.2rem;
    color: #000;
    margin-bottom: 10px;
    text-align: start;
}

.card-date {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    color: #666;
}

@media (max-width: 768px) {

    /* Mobile */
    .events_selection {
        margin-top: 20px;
        gap: 2%;
    }

    .navigation-item h4 {
        font-size: 16px;
    }

    .navigation-item-dark-mode h4 {
        font-size: 16px;
    }
}

@media (min-width: 769px) and (max-width: 992px) {

    /* Tablet */
    .events_selection {
        gap: 1%;
        font-size: smaller;
    }
}

@media (min-width: 993px) {

    /* Laptop and above */
    .events_selection {
        gap: 3%;
    }
}

 /* REACT SLICK CONFIG */

.darkTheme .slick-dots li.slick-active button:before {
    opacity: .75;
    color: white;
}

.darkTheme .slick-dots li button:before {
    font-family: slick;
    font-size: 6px;
    line-height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    content: '•';
    text-align: center;
    opacity: .25;
    color: white;
    -webkit-font-smoothing: antialiased;
}

 .slick-next:before, .slick-prev:before {
    font-family: slick;
    font-size: 20px;
    line-height: 1;
    opacity: .75;
    color: #666;
    -webkit-font-smoothing: antialiased;
}

/* WEATHER API */

.weather-container {
    margin: 0;
    padding-inline: 10%;
    padding-bottom: 50px;
}

.weatherForecast {
    font-weight: bold;
    padding: 50px 0 20px;
}

.weather-body {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
}

.weather-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.current-weather {
    text-align: center;
    flex: 1;
}

.current-weather .day {
    font-size: 1.5em;
    font-weight: bold;
}

.current-weather .date {
    font-size: 1.2em;
    color: #a9a9a9;
}

.current-weather .city {
    font-size: 1.2em;
    margin-top: -10px;
}

.current-weather .temp {
    font-size: 3em;
    font-weight: bold;
}

.current-weather .description {
    font-size: 1.2em;
    color: #a9a9a9;
}

.weather-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    flex: 1;
    padding-inline: 100px;
}

.weather-details div {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 10px;
}

.weather-details p {
    margin: 5px 0;
}


.weather-property {
    font-weight: bold;
}

.forecast {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    border-top: 1px solid #444;
    padding-top: 10px;
    width: 100%;
}

.forecast-day {
    text-align: center;
    transition: transform 0.3s ease-in-out;
    flex: 1;
    transition: 0.3s ease-in-out;
}

.forecast-day:hover {
    transform: translateY(-5px);
}

.forecast-day img {
    width: 50px;
    height: 50px;
    transition: opacity 0.5s ease-in-out;
}

.forecast-day p {
    margin: 0;
}

/* Dark Mode */
.dark-mode-body {
    background-color: #2a2a2a;
    border: 1px solid #ccc
}

.dark-mode-input {
    background-color: #444;
    border: 1px solid #666;
}

.dark-mode-content {
    color: #ffffff;
}

.dark-mode-details {
    color: #ffffff;
}

.dark-mode-forecast {
    color: #ffffff;
}

/* Light Mode */

.light-mode-body {
    background-color: #365949;
    border: 1px solid #0A2A28;
}

.light-mode-input {
    background-color: #f9f9f9;
    color: #000000;
    border: 1px solid #ccc;
}

.light-mode-content {
    color: #DCB968;
}

.light-mode-details {
    color: #DCB968;
}

.light-mode-forecast {
    color: #DCB968;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .weather-content {
        flex-direction: column;
    }

    .current-weather,
    .weather-details {
        text-align: center;
    }
}

@media (max-width: 576px) {
    .forecast-day img {
        width: 40px;
        height: 40px;
    }

    .forecast-day {
        font-size: xx-small;
    }

    .forecast {
        gap: 10px;
    }

    .weather-details p {
        font-size: 0.8em;
    }

    .weather-details {
        padding-inline: 20px;
    }
}

/* Loading and Error */
.loading {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    text-align: center;
    animation: fadeIn 1.5s infinite;
}

.loading p {
    animation: breathing 1.5s infinite;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { opacity: 0; }
}

@keyframes breathing {
    0% { transform: scale(1); }
    50% { transform: scale(1.05); }
    100% { transform: scale(1); }
}

.dark-mode-loading, .dark-mode-error {
    color: #ffffff;
}

.light-mode-loading, .light-mode-error {
    color: #DCB968;
}

