@media screen and (max-width: 992px){
    .contact-info {
            width: 100% !important;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
    }
}
#floatingInput {
    color: black !important;
}