* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
::-webkit-scrollbar {
  width: 5px;
  border-radius: 30px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 30px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: white;
}
.overflow-scroll-y {
  overflow-y: scroll;
}
.scrollbar-thumb-show {
  &::-webkit-scrollbar-thumb {
    background-color: #000000;
  }
}
.border-left-gray {
  border-left: 1px solid gray;
  padding-left: 10px;
}
.border-bottom-gray {
  border-bottom: 0.5px solid rgb(95, 98, 95);
}
.hover-style:hover{
  background-color: rgba(157, 157, 157, 0.3) !important ;
}
.hover-style-yellow:hover{
 background-color: rgba(189, 151, 76, 1) !important; 
}
.hover-style-green:hover{
  background-color: rgb(54, 89, 73, 1) !important;
  color: white !important;

}
.post-list-item {
  border-top: 0.25px solid rgb(95, 98, 95);
  border-bottom: 0.25px solid rgb(95, 98, 95);
}
.bg-hidden-dark{
  background-color: #000000;
}
.bg-hidden-light{
  background-color: #4f4f4f;
}
.avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-color: gray;
  border-radius: 50%;
}
.dropdown {
  top: 10px;
  right: 10px;
}

.dropdown-circle {
  width: 3px;
  height: 3px;
}
.text-editor {
  padding: 2px 5px;
  border-radius: 0.75rem;
}
.show-border {
  border: 2px solid #365949;
}
.ProMirror-focused {
  outline: none !important;
}
.tiptap {
  img {
    // min-width: none;
    max-width: 100%;
    border-radius: 20px;
  }
  iframe {
    border-radius: 20px;
  }
  p {
    font-size: 14px;
  }
  > * + * {
    margin-top: 0.75em;
  }

  ul,
  ol {
    padding: 0 1rem;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    line-height: 1.1;
  }

  code {
    background-color: rgba(#616161, 0.1);
    color: #616161;
  }

  pre {
    background: #0d0d0d;
    color: #fff;
    font-family: "JetBrainsMono", monospace;
    padding: 0.75rem 1rem;
    border-radius: 0.5rem;

    .hljs-comment,
    .hljs-quote {
      color: #616161;
    }

    .hljs-variable,
    .hljs-template-variable,
    .hljs-attribute,
    .hljs-tag,
    .hljs-name,
    .hljs-regexp,
    .hljs-link,
    .hljs-name,
    .hljs-selector-id,
    .hljs-selector-class {
      color: #f98181;
    }

    .hljs-number,
    .hljs-meta,
    .hljs-built_in,
    .hljs-builtin-name,
    .hljs-literal,
    .hljs-type,
    .hljs-params {
      color: #fbbc88;
    }

    .hljs-string,
    .hljs-symbol,
    .hljs-bullet {
      color: #b9f18d;
    }

    .hljs-title,
    .hljs-section {
      color: #faf594;
    }

    .hljs-keyword,
    .hljs-selector-tag {
      color: #70cff8;
    }

    .hljs-emphasis {
      font-style: italic;
    }

    .hljs-strong {
      font-weight: 700;
    }
    code {
      color: inherit;
      padding: 0;
      background: none;
      font-size: 0.8rem;
    }
  }

  blockquote {
    padding-left: 1rem;
    border-left: 2px solid rgba(#0d0d0d, 0.1);
  }

  hr {
    border: none;
    border-top: 2px solid rgba(#0d0d0d, 0.1);
    margin: 2rem 0;
  }
  .is-editor-empty:first-child::before {
    color: #adb5bd;
    content: attr(data-placeholder);
    float: left;
    height: 0;
    pointer-events: none;
  }
  &-focus {
    border: 3px solid black;
  }
}
.btn-editor {
  margin-left: 5px;
}
.btn-editor.is-active {
  border-bottom: 3px solid #365949 !important;
}
[contenteditable]:focus {
  outline: 0px solid transparent;
}
.popup-editor {
  > * + * {
    margin-top: 0.75em;
  }

  ul,
  ol {
    padding: 0 1rem;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    line-height: 1.1;
  }

  code {
    background-color: rgba(#616161, 0.1);
    color: #616161;
  }

  pre {
    background: #ffffff;
    color: #000000;
    font-family: "JetBrainsMono", monospace;
    padding: 0.75rem 1rem;
    border-radius: 0.5rem;

    .hljs-comment,
    .hljs-quote {
      color: #ffffff;
    }

    .hljs-variable,
    .hljs-template-variable,
    .hljs-attribute,
    .hljs-tag,
    .hljs-name,
    .hljs-regexp,
    .hljs-link,
    .hljs-name,
    .hljs-selector-id,
    .hljs-selector-class {
      color: #f98181;
    }

    .hljs-number,
    .hljs-meta,
    .hljs-built_in,
    .hljs-builtin-name,
    .hljs-literal,
    .hljs-type,
    .hljs-params {
      color: #fbbc88;
    }

    .hljs-string,
    .hljs-symbol,
    .hljs-bullet {
      color: #b9f18d;
    }

    .hljs-title,
    .hljs-section {
      color: #faf594;
    }

    .hljs-keyword,
    .hljs-selector-tag {
      color: #70cff8;
    }

    .hljs-emphasis {
      font-style: italic;
    }

    .hljs-strong {
      font-weight: 700;
    }
    code {
      color: inherit;
      padding: 0;
      background: none;
      font-size: 0.8rem;
    }
  }

  blockquote {
    padding-left: 1rem;
    border-left: 2px solid rgba(#ffffff, 0.1);
  }

  hr {
    border: none;
    border-top: 2px solid rgba(#0d0d0d, 0.1);
    margin: 2rem 0;
  }
  .is-editor-empty:first-child::before {
    color: #adb5bd;
    content: attr(data-placeholder);
    float: left;
    height: 0;
    pointer-events: none;
  }
  &-focus {
    border: 3px solid black;
  }
}

.cursor-text {
  cursor: text;
}
.cursor-pointer {
  cursor: pointer !important;
}
.modal-wrapper {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
  display: flex;
  align-items: center;
  justify-content: center;
}
#post-modal {
  width: 90%;
  height: 85%;
  max-height: 800px;
  overflow-y: scroll;
  border-radius: 0.75rem;
  z-index: 100000000000;
}
.popup-editor {
  height: 30vh;
  overflow-y: scroll;
}
.btn-disable {
  pointer-events: none;
  cursor: not-allowed;
  opacity: 0.65;
}
// Hung???
video {
  position: static !important;
}
.forum-page {
  width: 100vw;
}
.right-side-bar {
  &-heading {
    font-size: 20px;
    font-weight: 200px;
  }
  &-username {
    color: #0a2a28;
  }
  &-title {
    font-size: 18px;
    margin: 10px 0px;
    padding: 0px;
    color: #0a2a28;
  }
  &-contact {
    color: #0a2a28;
  }
}
.thread-statistic {
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: start;
  border-radius: 0.75rem;
}
// .recommend-post-wrapper {
//   padding: 10px 0;
//   border-radius: 0.75rem;
// }
// .recommend-post {
//   width: 100%;
//   display: flex;
//   flex-direction: column;
//   align-items: start;
//   margin: 0px;
//   justify-content: space-between;
// }
// .recommend-post-section {
//   word-break: break-all;
// }
.post-title {
  margin: 5px 0px;
  font-size: 18px;
  font-weight: 600px;
  color: #9ccdad;
}
.container-wrapper {
  margin: 0 auto;
}
.main-container {
  width: 95%;
  margin: 70px auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.left-sidebar {
  overflow-y: scroll;
  display: none;
  font-size: 18px;
  &-item {
    background-color: transparent;
    border-radius: 0.75rem;
  }
}
.right-sidebar {
  padding-bottom: 80px;
  width: 100%;
  position: sticky;
  top: 80px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.main {
  width: 100%;
}
.line-clamp-2-line {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;

  display: -moz-box;
  -moz-box-orient: vertical;

  overflow: hidden;
  text-overflow: ellipsis;
}
.line-clamp.tiptap {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;

  display: -moz-box;
  -moz-box-orient: vertical;

  overflow: hidden;
  text-overflow: ellipsis;
}
.search-image{
  height: 150px;
}
@media only screen and (min-width: 800px) {
.search-image{
  height: 200px;
}
  .line-clamp.tiptap {
    -webkit-line-clamp: 6;
  }
  .right-sidebar {
    min-width: 300px;
    max-width: 300px;
    height: 100vh;
    flex-direction: column-reverse;
  }
  .thread-statistic {
    margin-top: 0px;
  }
  // .recommend-post-wrapper {
  //   margin-top: 0px;
  //   padding: 20px;
  //   height: 100%;
  // }

  .main {
    width: 75%;
    min-width: 0;
    margin-right: 30px;
  }
  .main-container {
    flex-direction: row;
  }
  .container-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0px auto;
  }

  .recommend-post {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 10px 5px;
    justify-content: space-between;
  }
  // .recommend-post-section {
  //   display: none;
  //   word-break: break-all;
  //   padding: 10px 0;
  //   margin-top: 30px;
  //   width: 100%;
  //   display: flex;
  //   flex-direction: column;
  //   align-items: start;
  //   overflow-y: scroll;
  //   height: 75%;
  // }
  .right-side-bar {
    &-username {
      color: #ead08d;
    }
    &-title {
      color: white;
      font-size: 16px;
    }
    &-contact {
      color: white;
      font-size: 16px;
    }
  }
}

@media only screen and (min-width: 1200px) {
  #post-modal {
    width: 60%;
  }
  .main-container {
    width: 73%;
  }

  .left-sidebar {
    flex-basis: 17%;
    display: flex;
    min-width: 210px;
    padding: 10px;
    flex-basis: 17%;
    height: 100vh;
    position: sticky;
    top: 80px;
    left: 0px;
    background-color: transparent;
    border-right: 1px solid #88918b;
  }
}
