// Custom.scss
@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/";


// Add new customed colors
$customize-colors: (
    "green-100": #E3F6E6,
    "green-200": #C8EED2,
    "green-300": #9CCDAD,
    "green-400": #6D9B81,
    "green-500": #365949,
    "green-600": #274C3F,
    "green-700": #1B4036,
    "green-800": #11332E,
    "green-900": #0A2A28,
    "yellow-100": #FDF8E2,
    "yellow-200": #FBF0C6,
    "yellow-300": #F4E1A7,
    "yellow-400": #EAD08D,
    "yellow-500": #DCB968,
    "yellow-600": #BD974C,
    "yellow-700": #9E7734,
    "yellow-800": #7F5A21,
    "yellow-900": #694513
);

// Merge the maps to add new customed colors
$theme-colors: map-merge($theme-colors, $customize-colors);


// Supporting Color
$success: #3b7c12;
$info: #01759b;
$warning: #bf8001;
$danger: #c11946;

// Include any default variable overrides here (though functions won't be available)

@import "../../node_modules/bootstrap/scss/bootstrap.scss";


// Then add additional custom code here




